# ADULTS

This notebook details experiments with architecture and activation functions on the Adults dataset. I will be examining six combinations to see which outperform the best given this binary problem. Each will be trained for 5 epochs and run 5 times.

In [0]:
!pip install git+https://github.com/fastai/fastai.git

In [0]:
from fastai.tabular import *

In [0]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

## Get Functions

In [5]:
!git clone https://github.com/sdoria/mish
%cd mish
from rangerlars import *
from mish import *
from mxresnet import *
from ranger import *

Cloning into 'mish'...
remote: Enumerating objects: 46, done.
remote: Counting objects: 100% (46/46), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 46 (delta 21), reused 19 (delta 6), pack-reused 0
Unpacking objects: 100% (46/46), done.
/content/mish
Mish activation loaded...

In [0]:
class MishTabularModel(Module):
    "Basic model for tabular data."
    def __init__(self, emb_szs:ListSizes, n_cont:int, out_sz:int, layers:Collection[int], ps:Collection[float]=None,
                 emb_drop:float=0., y_range:OptRange=None, use_bn:bool=True, bn_final:bool=False):
        super().__init__()
        ps = ifnone(ps, [0]*len(layers))
        ps = listify(ps, layers)
        self.embeds = nn.ModuleList([embedding(ni, nf) for ni,nf in emb_szs])
        self.emb_drop = nn.Dropout(emb_drop)
        self.bn_cont = nn.BatchNorm1d(n_cont)
        n_emb = sum(e.embedding_dim for e in self.embeds)
        self.n_emb,self.n_cont,self.y_range = n_emb,n_cont,y_range
        sizes = self.get_sizes(layers, out_sz)
        actns = [mish() for _ in range(len(sizes)-2)] + [None]
        layers = []
        for i,(n_in,n_out,dp,act) in enumerate(zip(sizes[:-1],sizes[1:],[0.]+ps,actns)):
            layers += bn_drop_lin(n_in, n_out, bn=use_bn and i!=0, p=dp, actn=act)
        if bn_final: layers.append(nn.BatchNorm1d(sizes[-1]))
        self.layers = nn.Sequential(*layers)

    def get_sizes(self, layers, out_sz):
        return [self.n_emb + self.n_cont] + layers + [out_sz]

    def forward(self, x_cat:Tensor, x_cont:Tensor) -> Tensor:
        if self.n_emb != 0:
            x = [e(x_cat[:,i]) for i,e in enumerate(self.embeds)]
            x = torch.cat(x, 1)
            x = self.emb_drop(x)
        if self.n_cont != 0:
            x_cont = self.bn_cont(x_cont)
            x = torch.cat([x, x_cont], 1) if self.n_emb != 0 else x_cont
        x = self.layers(x)
        if self.y_range is not None:
            x = (self.y_range[1]-self.y_range[0]) * torch.sigmoid(x) + self.y_range[0]
        return x

In [0]:
def mtabular_learner(data:DataBunch, layers:Collection[int], emb_szs:Dict[str,int]=None, metrics=None,
        ps:Collection[float]=None, emb_drop:float=0., y_range:OptRange=None, use_bn:bool=True, **learn_kwargs):
    "Get a `Learner` using `data`, with `metrics`, including a `TabularModel` created using the remaining params."
    emb_szs = data.get_emb_szs(ifnone(emb_szs, {}))
    model = MishTabularModel(emb_szs, len(data.cont_names), out_sz=data.c, layers=layers, ps=ps, emb_drop=emb_drop,
                         y_range=y_range, use_bn=use_bn)
    return Learner(data, model, metrics=metrics, **learn_kwargs)

In [0]:
class mish(nn.Module):
    def __init__(self):
        super().__init__()

    def forward(self, x):
        x = x *( torch.tanh(F.softplus(x)))
        return x

## Get Data

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .databunch())

## Baseline Adam + TabularLearner

In [10]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [11]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [12]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [13]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [14]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [15]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [16]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [17]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [18]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [19]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

## One Cycle + Adam + Mish

In [20]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [21]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [22]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [23]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [24]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [25]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [26]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [27]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [28]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

In [29]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(10, 1e-2)

## Flatten + RangerLars

In [0]:
opt_func = partial(RangerLars, betas = (0.9,0.99), eps=1e-6)

In [31]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [32]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [33]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [34]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [35]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [37]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [38]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [39]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [40]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [41]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

## Flatten + RangerLars + Mish

In [0]:
opt_func = partial(RangerLars, betas = (0.9,0.99), eps=1e-6)

In [43]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [44]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [45]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [46]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [47]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [48]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [49]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [50]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [51]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [52]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

## Flatten + Ranger

In [0]:
opt_func = partial(Ranger, betas=(0.95,0.99), eps=1e-6)

In [54]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [55]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [56]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [57]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [58]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [59]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [60]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [61]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [62]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [63]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

## Flatten + Ranger + Mish

In [0]:
opt_func = partial(Ranger, betas=(0.95,0.99), eps=1e-6)

In [65]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [66]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [67]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [68]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [69]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [70]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [71]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [72]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [73]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)

In [74]:
learn = mtabular_learner(data, layers=[200,100], metrics=accuracy, opt_func=opt_func)
learn.fit_fc(10, 1e-2)